@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

body {
    color: #435f59;
    font-family: 'Raleway';
    font-weight: 600;
    background-color: #fafffd;

}

#page-title {
    color: #57e6aa;
    font-size: 3em;
    text-align: center;
}

#bookshelf {
    width: 60%;
    min-height: 6em;
    margin: auto;
    margin-top: 3em;
    padding: 2em;
    border-radius: 2em;
    background-color: #fafffd;

}

#adding{
    position: fixed;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
}

#add-book {
    box-sizing: content-box;
    font-size: 1em;
    margin-left: .5em;
    padding: .25em;
    width: 2em;
    height: 2em;
    font-family: 'Raleway';
    font-weight: 600;
    background-color: #a1ffd8;
    color: #435f59;
    border: .05em solid #a1ffd8;
    border-radius: 2em;
    box-shadow: 0.125em 0.125em #435f593a;
    cursor: pointer;
    outline: none;
}

#add-book:hover {
    background-color: #41eba4;
}

#book-name,
#author-name {
    padding: .25em;
    padding-left: 1em;
    width: 11em;
    height: 2em;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1em;
    color: #292828;
    border: .05em solid #c5dad3;
    border-radius: 2em;
    box-shadow: 0.125em 0.125em #6a948b67;
    background-color: #ffffff;
    outline: none;
}

#book-name:focus,
#author-name:focus {
    border: .05em solid #8d9b96;
    box-shadow: 0.2em 0.2em #18201e67;
}

#modalbutton {
    position: fixed;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: content-box;
    font-size: 1em;
    margin-left: .5em;
    padding: .25em;
    width: 2em;
    height: 2em;
    font-family: 'Raleway';
    font-weight: 600;
    background-color: #a1ffd8;
    color: #435f59;
    border: .05em solid #a1ffd8;
    border-radius: 2em;
    box-shadow: 0.125em 0.125em #435f593a;
    cursor: pointer;
    outline: none;
}
#modalbutton:hover {
    background-color: #41eba4;
}

#modalwndw {
    display: initial;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    backdrop-filter: blur(.2em);
}

.modal-content {
    position: fixed;
    background-color: #ffffff;
    width: 50%;
    min-width: 260px;
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 3em;
    border: .05em solid #c5dad3;
    border-radius: 2em;
    box-shadow: 0.125em 0.125em #6a948b67;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 1em;
    font-weight: bold;
    padding: .5em;
}

.close:hover,
.close:focus {
    color: #000000;
    /*text-decoration: none; */
    cursor: pointer;
}

#modalh2 {
    margin-bottom: 2em;
}