@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

body {
    color: #435f59;
    font-family: 'Raleway';
    font-weight: 600;
    background-color: #fafffd;

}

body h1 {
    color: #57e6aa;
    font-size: 3em;
    text-align: center;
}

#bookshelf {
    width: 60%;
    min-height: 6em;
    margin: auto;
    margin-top: 3em;
    padding: 2em;
    box-shadow: 0.125em 0.125em #435f593a;
    border: .05em solid #435f593a;
    border-radius: 2em;
    background-color: #ffffff;

}

#adding{
    position: fixed;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
}

#add-book {
    box-sizing: content-box;
    font-size: 1em;
    margin-left: .5em;
    padding: .25em;
    width: 2em;
    height: 2em;
    font-family: 'Raleway';
    font-weight: 600;
    background-color: #a1ffd8;
    color: #435f59;
    border: .05em solid #a1ffd8;
    border-radius: 2em;
    box-shadow: 0.125em 0.125em #435f593a;
    cursor: pointer;
}

#add-book:hover {
    background-color: #41eba4;
}

#book-name {
    padding: .25em;
    width: 11em;
    height: 2em;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1em;
    color: #292828;
    border: .05em solid #c5dad3;
    border-radius: 2em;
    box-shadow: 0.125em 0.125em #6a948b67;
    background-color: #ffffff;
}
#modalbutton {
    position: fixed;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: content-box;
    font-size: 1em;
    margin-left: .5em;
    padding: .25em;
    width: 2em;
    height: 2em;
    font-family: 'Raleway';
    font-weight: 600;
    background-color: #a1ffd8;
    color: #435f59;
    border: .05em solid #a1ffd8;
    border-radius: 2em;
    box-shadow: 0.125em 0.125em #435f593a;
    cursor: pointer;

}
#modalwndw {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
}

.modal-content {
    background-color: #ffffff;
    margin:15%;
    padding: 3em;
    border: .05em solid #c5dad3;
    border-radius: 2em;
    box-shadow: 0.125em 0.125em #6a948b67;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 1em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000000;
    /*text-decoration: none; */
    cursor: pointer;
}